body {
  overflow-y:scroll;
  margin: 0;
  padding: 0;
}

svg {
  overflow: hidden;
}

div {
  border: 0;
  margin: 0;
}

	.brush .extent {
		stroke: #000;
		fill-opacity: .125;
		shape-rendering: crispEdges;
	}


#test1 {
	margin: 0;
}

#test1 svg {
	height: 500px;
	width: 1000px;
}

#test2 { margin-left: 78px; }

#type_criteria a {
	padding: 9px;
	font-weight: bold;
	width: 35px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-right: 15px;
}

